
.circular-gallery {
  width: 100%;
  height: 320px; /* MOBILE */
  overflow: hidden;
  cursor: grab;
  touch-action: pan-y;
}

.circular-gallery:active {
  cursor: grabbing;
}

/* Desktop */
@media (min-width: 768px) {
  .circular-gallery {
    height: 600px;
  }
}


