@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #F8F1FF;
  color: #534D56;
  font-family: "Inter", system-ui, sans-serif;
}

/* Fix for fixed navbar */
section {
  scroll-margin-top: 80px;
}



